# Extracción de las cifras relativas a los ingresos en planta con Covid-19 en Euskadi

Para la obtención de estos datos utilizo el documento 08.csv de la carpeta datos-asistenciales. Estos datos, al igual que el resto de utilizados en este proyecto, se pueden obtener en la web https://opendata.euskadi.eus/inicio/

### 1.- Importación de las librerias necesarias para la limpieza de los datos

In [1]:
import pandas as pd
import numpy as np
import pickle
from datetime import datetime

### 2.- Limpieza datos

Antes de importar el documento, elimino las dos primeras filas del encabezamiento del csv en un editor. Son un par de líneas con una breve descripción de los datos que incluye el documento, pero innecesarias para su limpieza. Además, así Pandas reconoce automáticamente el nombre de las columnas.

In [2]:
ingresos = pd.read_csv("datos-asistenciales/08.csv", sep=";", encoding="latin-1")

Visualización de los datos importados.

In [3]:
ingresos.head()

,Unnamed: 0,Ingresos nuevos en planta,01 Araba,02 Cruces,03 Donosti,04 Basurto,05 Galdakao,06 Zumarraga,07 Bidasoa,08 Mendaro,...,10 San Eloy,11 Urduliz,12 Eibar,13 Leza,14 Sta Marina,15 Gorliz,BERMEO H.,ZAMUDIO H.,ï¿½LAVA PSIQUIï¿½TRICO H.,Unnamed: 20
0,2020/05/01,22,6,3,1,6,1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,2,1,0.0,0,0,NaN
1,2020/05/02,16,4,2,0,5,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,0,0.0,0,0,NaN
2,2020/05/03,13,4,4,0,3,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,0,0.0,0,0,NaN
3,2020/05/04,28,11,2,4,4,2,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,2,2,0.0,0,0,NaN
4,2020/05/05,36,8,4,2,6,5,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,3,3,0.0,1,0,NaN

Tras visualizar los datos importados y para facilitar el análisis de los mismos doy los siguientes pasos:

2.1.- Eliminación de la última columna, que no se corresponde con ningún hospital

In [4]:
ingresos.columns

Index(['Unnamed: 0', 'Ingresos nuevos en planta', '01 Araba', '02 Cruces',
       '03 Donosti', '04 Basurto', '05 Galdakao', '06 Zumarraga', '07 Bidasoa',
       '08 Mendaro', '09 Alto Deba', '10 San Eloy', '11 Urduliz', '12 Eibar',
       '13 Leza', '14 Sta Marina', '15 Gorliz', 'BERMEO H.', 'ZAMUDIO H.',
       'ï¿½LAVA PSIQUIï¿½TRICO H.', 'Unnamed: 20'],
      dtype='object')

In [5]:
ingresos.drop(["Unnamed: 20"], axis="columns", inplace=True)

2.2.- Cambio del nombre de las columnas para su simplificación

In [6]:
columnas = ["Fecha", "Ingresos planta", "Araba", "Cruces", "Donosti", "Basurto", "Galdakao", "Zumarraga", "Bidasoa", "Mendaro", "Alto Deba", "San Eloy", "Urduliz", "Eibar", "Leza", "Sta Marina", "Gorliz", "Bermeo", "Zamudio", "Psiquiátrico Álava"]

In [7]:
ingresos.columns = columnas

2.3.- Sustitución de los resultados NaN por ceros

In [8]:
ingresos.fillna(0, inplace=True)

2.4.- Cambio del formato de las fechas para que Python las reconozca como tal

In [9]:
def convert_date(string):
    
    """Función para el cambio de formato de las fechas"""
    
    elements = string.split("/")
    result = "/".join([str(elements[2]), str(elements[1]), "20"])
    correct_date = datetime.strptime(result, "%d/%m/%y")
    return correct_date

In [10]:
ingresos["Fecha"] = ingresos["Fecha"].apply(lambda x: convert_date(x))

2.5.- Conversión de las cifras a enteros

In [12]:
ingresos_fechas = ingresos["Fecha"]

In [13]:
ingresos = ingresos[columnas[1:]].astype(int)

In [14]:
ingresos = pd.concat([ingresos_fechas, ingresos], axis=1)

### 3.- Obtención datos

Ingresos totales al día en planta en los hospitales de Euskadi.

In [16]:
ingresos_euskadi_dia = ingresos.iloc[-1]["Ingresos planta"]

In [17]:
print(ingresos_euskadi_dia)

80

Ingresos totales al día en planta en los hospitales de Araba.

In [18]:
ingresos.columns

Index(['Fecha', 'Ingresos planta', 'Araba', 'Cruces', 'Donosti', 'Basurto',
       'Galdakao', 'Zumarraga', 'Bidasoa', 'Mendaro', 'Alto Deba', 'San Eloy',
       'Urduliz', 'Eibar', 'Leza', 'Sta Marina', 'Gorliz', 'Bermeo', 'Zamudio',
       'Psiquiátrico Álava'],
      dtype='object')

In [19]:
ingresos_araba = ingresos[["Araba", "Leza", "Psiquiátrico Álava"]]

In [20]:
ingresos_araba_dia = ingresos_araba.iloc[[-1]].sum(axis=1)

In [21]:
ingresos_araba_dia = ingresos_araba_dia.iloc[0]

In [22]:
print(ingresos_araba_dia)

7

Ingresos totales al día en planta en los hospitales de Bizkaia.

In [23]:
ingresos_bizkaia = ingresos[["Cruces", "Basurto", "Galdakao", "San Eloy", "Urduliz", "Sta Marina", "Gorliz", "Bermeo", "Zamudio"]]

In [24]:
ingresos_bizkaia_dia = ingresos_bizkaia.iloc[[-1]].sum(axis=1)

In [25]:
ingresos_bizkaia_dia = ingresos_bizkaia_dia.iloc[0]

In [26]:
print(ingresos_bizkaia_dia)

41

Ingresos totales al día en planta en los hospitales de Gipuzkoa.

In [27]:
ingresos_gipuzkoa = ingresos[["Donosti", "Zumarraga", "Bidasoa", "Mendaro", "Alto Deba", "Eibar"]]

In [28]:
ingresos_gipuzkoa_dia = ingresos_gipuzkoa.iloc[[-1]].sum(axis=1)

In [29]:
ingresos_gipuzkoa_dia = ingresos_gipuzkoa_dia.iloc[0]

In [30]:
print(ingresos_gipuzkoa_dia)

32

Evolución ingresos en planta en la segunda ola. Tomo como referencia el fin del primer estado de alarma, a finales de junio, por lo que utilizo los datos a partir del 1 de julio y hasta la actualidad.

In [39]:
segunda = ingresos[61:]

In [40]:
segunda = segunda[["Fecha", "Ingresos planta"]]

In [41]:
segunda.reset_index(drop=True, inplace=True)

### 4.- Exportación datos

Exportación de los datos que el Bot va a incluir en los mensajes que intercambiará con el usuario.

In [34]:
datos_planta = open("../mensajes/planta.pickle", "wb")

In [35]:
pickle.dump(ingresos_euskadi_dia, datos_planta)
pickle.dump(ingresos_araba_dia, datos_planta)
pickle.dump(ingresos_bizkaia_dia, datos_planta)
pickle.dump(ingresos_gipuzkoa_dia, datos_planta)

In [36]:
datos_planta.close()

Exportación de un nuevo csv para hacer una visualización sobre la evolución de los fallecidos en la segunda ola

In [43]:
segunda.to_csv("../graficos/ingresos.csv")